<!DOCTYPE html><html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>layout</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="<%- THEMEHREF %>/page.css" />
    <script src="<%- THEMEHREF %>/page.js"></script>
</head>
<body>
<h3 id="page-cate" data-role="page-cate"><%- page.cate %></h3>

<h3 id="page-tag" data-role="page-tag"><%- page.tag %></h3>

<div id="page-content" data-role="page-content"><%- page.content %></div>
</body>
</html>